<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarCompras</servlet-name>
        <servlet-class>controlador.RegistrarCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProducto</servlet-name>
        <servlet-class>controlador.CrearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>controlador.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventario</servlet-name>
        <servlet-class>controlador.Inventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>controlador.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVentas</servlet-name>
        <servlet-class>controlador.RegistrarVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCompras</servlet-name>
        <servlet-class>controlador.VerCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerVentas</servlet-name>
        <servlet-class>controlador.VerVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarGastos</servlet-name>
        <servlet-class>controlador.RegistrarGastos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCompras</servlet-name>
        <servlet-class>controlador.ModificarCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCompra</servlet-name>
        <servlet-class>controlador.EliminarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVenta</servlet-name>
        <servlet-class>controlador.ModificarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVenta</servlet-name>
        <servlet-class>controlador.EliminarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGasto</servlet-name>
        <servlet-class>controlador.EliminarGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarGasto</servlet-name>
        <servlet-class>controlador.ModificarGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDiario</servlet-name>
        <servlet-class>controlador.RegistroDiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controlador.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarCompras</servlet-name>
        <url-pattern>/RegistrarCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProducto</servlet-name>
        <url-pattern>/CrearProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventario</servlet-name>
        <url-pattern>/Inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVentas</servlet-name>
        <url-pattern>/RegistrarVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCompras</servlet-name>
        <url-pattern>/VerCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerVentas</servlet-name>
        <url-pattern>/VerVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarGastos</servlet-name>
        <url-pattern>/RegistrarGastos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCompras</servlet-name>
        <url-pattern>/ModificarCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCompra</servlet-name>
        <url-pattern>/EliminarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVenta</servlet-name>
        <url-pattern>/ModificarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVenta</servlet-name>
        <url-pattern>/EliminarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGasto</servlet-name>
        <url-pattern>/EliminarGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarGasto</servlet-name>
        <url-pattern>/ModificarGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroDiario</servlet-name>
        <url-pattern>/RegistroDiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
